.floatleft{
	float: left;
}

.floatright {
	float: right;
}

.textrightalign {
	text-align: right;
}

.textleftalign {
	text-align: left;
}

.editbarstyle {
	overflow: auto;
}

.breadcrumb-container {
  position: absolute;
  top: 110px;
  width: 100%;
  z-index: 10;
}

.breadcrumb-container .breadcrumb {
  max-width: 1280px;
  margin: 0 auto;
  background: transparent;
  color: #ffffff;
  font-family: 'museo-sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 0.8125em;
  line-height: 1;
  letter-spacing: 2px;
}

.breadcrumb-container .breadcrumb a {
  margin: 0 10px;
  color: #ffffff;
  text-decoration: underline;
  text-transform: uppercase;
}

.breadcrumb-container .breadcrumb a:first-child {
  margin-left: 0;
}