.floatleft{
	float: left;
}

.floatright {
	float: right;
}

.textrightalign {
	text-align: right;
}

.textleftalign {
	text-align: left;
}

.editbarstyle {
	overflow: auto;
}

.acs-commons-resp-colctrl-row .col-sm-4{
	width: 100%;	
}

.acs-commons-resp-colctrl-row .col-sm-6{
	width: 100%;
}
